<div class="container-fluid">
    <h1>Welcome Back</h1>
    <hr>

    <div class="container pt-2">
        <div class="row justify-content-sm-center pt-3">
            <div class="col-sm-6 shadow round pb-3">
                <h3 class="text-center pt-3 text-secondary">ADMIN PAGE</h3>


                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-primary" data-bs-toggle="collapse" (click)="adminSigin()" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Sign In
                    </a><br /><br />
                </div>
            </div>
        </div>
    </div>
</div>