<div class="container">

    <h2 style="color: blue">Check out Items</h2>
    <div>
        <h3>Enter the row to be deleted</h3>
        <input type="text" class="form" id="deleter"/>
        <button id ="click_to_delete" class="btn-danger" (click)="delete_onClick()">Delete</button> 
    </div>
<div class= "form-group">
<table id="AddedItems"  class="table">
    <thead class="thead-dark">
        <tr>
            <th>Product Id </th>
            <th>Product Name </th>
            <th>Product Price </th>
            <th>Product Quantity </th>
            <th>Product Discount % </th>
            <th>Total Product Price </th>
         </tr>
            
    </thead> 
 <tbody>
</tbody>
</table>

<div >
    <p style="text-align:center; color: crimson; font-size: 20px;"> Total Price:  &#x20B9;{{calculate_total_price()}}</p>
</div>
<div class="text-center">
    <button value="compareFund" class="btn btn-primary" (click) ="check_funds()">Place Order</button>
</div>



</div>
</div>