<div class="container pt-2">
    <div class="row justify-content-sm-center pt-3">
        <div class="col-sm-6 shadow round pb-3">
            <h1 class="text-center pt-3 text-secondary">User Page</h1>

            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-primary" data-bs-toggle="collapse" (click)="userSigin()" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Sign In
                </a><br /><br />
            </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-primary" data-bs-toggle="collapse" (click)="userSigUp()" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Sign Up
                </a><br /><br />
            </div>
            
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-warning" data-bs-toggle="collapse" (click)="userRaiseTicket()" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Raise Ticket
                </a><br /><br />
            </div>
            </div>
    </div>
</div>