<div class="container">
    <div class="container pt-2">
        <div class="row justify-content-sm-center pt-3">
            <div class="col-sm-6 shadow round pb-3">
                <h3 class="text-center pt-3 text-secondary">ADMIN SIGN IN</h3>
                <form #adminSignInRef="ngForm" (ngSubmit)="signIn(adminSignInRef.value)" class="container my-3">
                    <div class="form-group">
                        <label>Admin ID</label>
                        <input type="text" name="adminId" id="id" ngModel required minlength="3" #adminId="ngModel"
                            class="form-control">
                        <div *ngIf="adminId.invalid && (adminId.dirty || adminId.touched)">
                            <div class="errorMessage" *ngIf="adminId.errors.required">
                                Admin ID is required.
                            </div>
                            <div class="errorMessage" *ngIf="adminId.errors.minlength">
                                Admin ID must be at least 3 characters long.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password"  name="password" id="pass" ngModel required
                            minlength="6" #password="ngModel" class="form-control"><br />
                        <div *ngIf="password.invalid && (password.dirty || password.touched)">
                            <div class="errorMessage" *ngIf="password.errors.required">
                                Password is required.
                            </div>
                            <div class="errorMessage" *ngIf="password.errors.minlength">
                                Password must be at least 6 characters long.
                            </div>
                        </div>

                    </div>
                    <div class="text-center my-2">
                        <input class="btn btn-primary" type="submit" [disabled]='!adminSignInRef.valid'
                            value="Log In" />
                    </div>
                </form>
                {{message}}

            </div>