<div class="container-fluid">
<p class="text-end font-weight-normal" *ngIf="userID">User ID: {{ userID }} | Account Number: {{ accNum}}</p>
<div class="d-grid mx-auto" style="background-color: darkslateblue;">
    <ul class="nav center">
        <li class="nav-item">
            <a (click)="selectItemsLink()" class="nav-link"> Select Items</a>
        </li>
        <li class="nav-item">
            <a (click)="checkOutLink()" class="nav-link"> CheckOut</a>
        </li>
        <li class="nav-item">
            <a (click)="orderStatusLink()" class="nav-link">Order Status</a>
        </li>
        <li class="nav-item">
            <a (click)="editProfileLink()" class="nav-link">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a (click)="fundsLink()" class="nav-link">Funds</a>
        </li>
        <li class="nav-item">
            <a (click)="logoutLink()" class="nav-link">Logout</a>
        </li>
    </ul>
</div>
<div *ngIf="displayItems">
    <app-product-list></app-product-list>
</div>
<div *ngIf="displayDelete || displayView || displayCheckout">
    <app-cart></app-cart>
</div>
<div *ngIf="displayOrder">
    <app-retrieve-status></app-retrieve-status>
</div>
<div *ngIf="displayEdit">
    <app-edit-profile></app-edit-profile>
</div>
<div *ngIf="displayFunds">
    <app-add-funds></app-add-funds>
</div>
<div *ngIf="displayLogout">
    <app-user-logout></app-user-logout>
</div>
</div>