<h2 style="color: rgb(58, 46, 233)">Product List</h2>

<!-- <div class="d-flex justify-content-between">
</div> -->

<div class="container">
  <div class="row">
    <div class="col-3" *ngFor="let pp of products">
      
      <div class="card mt-3" style="width: 18rem;" >
        <img class="card-img-top"
          src="https://static01.nyt.com/images/2018/08/01/dining/01Grocery1-alpha/01Grocery1-videoSixteenByNineJumbo1600-v4.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h2 class="card-text"><b>{{pp.ProductName}}</b></h2>
          <p class="card-text">Price &#x20B9;{{pp.ProductPrice}}</p>
          <p class="card-text">Discount:{{pp.Discount}}%</p>
          <div class="text-center">
            <button class="btn btn-primary"  (click)="addToCart(pp)">Add to cart </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>