
<div class="container pt-2">
    <div class="row justify-content-sm-center pt-3">
        <div class="col-sm-6 shadow round pb-3">
            <h2 class="text-center pt-3 text-secondary">User Sign In</h2>
    
    <form #userSignInRef="ngForm" (ngSubmit)="signIn(userSignInRef.value)" class="container">
        
        <div class="form-group">
        <label >User ID</label>
        <input type="number" name="UserID" id="id" ngModel required minlength="3" #UserID="ngModel" class="form-control"><br/>
        <div *ngIf="UserID.invalid && (UserID.dirty || UserID.touched)">
        <div class="errorMessage" *ngIf="UserID.errors.required">
            User ID is required.
        </div>
        <div class="errorMessage" *ngIf="UserID.errors.minlength">
            User ID must be at least 3 characters long.
        </div>
        </div>
        <div class="form-group">
        <label >Password</label>
        <input type="password" name="password" id="pass"  ngModel required minlength="3" #password="ngModel" class="form-control"><br/>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div class="errorMessage" *ngIf="password.errors.required">
            Password is required.
        </div>
        <div class="errorMessage" *ngIf="password.errors.minlength">
            Password must be at least 3 characters long.
        </div>
        </div>
        </div>
        <div class="text-center">
        <input class="btn btn-primary" type="submit"  [disabled]='!userSignInRef.valid' value ="Log In"  />
        <input class="btn btn-success mx-2" type="reset" value="reset"/>
    </div>
        {{message}}
        </div>
        </form>
        
        </div>
    </div>
</div>