<div class="d-grid mx-auto">
    <ul class="nav center">
        <li class="nav-item">
            <a (click)="dashBoardLink()" class="nav-link"> Add Products</a>
        </li>
        <li class="nav-item">
            <a (click)="deleteProductsLink()" class="nav-link">Delete Products</a>
        </li>
        <li class="nav-item">
            <a (click)="updateProductsLink()" class="nav-link">Update Products</a>
        </li>
        <li class="nav-item">
            <a (click)="viewRequests()" class="nav-link">View Requests</a>
        </li>
        <li class="nav-item">
            <a (click)="checkEmployees()" class="nav-link">Employees</a>
        </li>
        <li class="nav-item">
            <a (click)="generateReports()" class="nav-link">Generate Reports</a>
        </li>
        <li class="nav-item">
            <a (click)="logOut()" class="nav-link">Logout</a>
        </li>
    </ul>
</div>