<app-admin-panel></app-admin-panel>
<br>

<div class="container pt-2">
    <div class="row justify-content-sm-center pt-3">
        <div class="col-sm-6 shadow round pb-3">
            <h3 class="text-center pt-3 text-secondary">ADD PRODUCTS</h3>

            <form #adminAddProductsRef="ngForm" (ngSubmit)="addProduct(adminAddProductsRef.value)"
                class="container my-3 ">

                <div class="form-group">
                    <label>Product Name</label>
                    <input type="text" name="ProductName" id="ProductName" ngModel required pattern="^[a-zA-Z]+$"
                        #ProductName="ngModel" class="form-control">
                    <div *ngIf="ProductName.invalid && (ProductName.dirty || ProductName.touched)">
                        <div class="errorMessage" *ngIf="ProductName.errors.required">
                            Product Name is required.
                        </div>
                        <div class="errorMessage" *ngIf="ProductName.errors.pattern">
                            Product Name must be string.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Product Price</label>
                    <input type="text" name="ProductPrice" id="ProductPrice" ngModel required pattern="^[0-9]+$"
                        #ProductPrice="ngModel" class="form-control">
                    <div *ngIf="ProductPrice.invalid && (ProductPrice.dirty || ProductPrice.touched)">
                        <div class="errorMessage" *ngIf="ProductPrice.errors.required">
                            Product Price is required.
                        </div>
                        <div class="errorMessage" *ngIf="ProductPrice.errors.pattern">
                            Product Price must be a number.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Product Quantity</label>
                    <input type="text" name="ProductQuantity" id="ProductQuantity" ngModel required pattern="^[0-9]+$"
                        #ProductQuantity="ngModel" class="form-control">
                    <div *ngIf="ProductQuantity.invalid && (ProductQuantity.dirty || ProductQuantity.touched)">
                        <div class="errorMessage" *ngIf="ProductQuantity.errors.required">
                            Product Quantity is required.
                        </div>
                        <div class="errorMessage" *ngIf="ProductQuantity.errors.pattern">
                            Product Quantity must be a number.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Discount</label>
                    <input type="text" name="Discount" id="Discount" ngModel required pattern="^[0-9]+$"
                        #Discount="ngModel" class="form-control">
                    <div *ngIf="Discount.invalid && (Discount.dirty || Discount.touched)">
                        <div class="errorMessage" *ngIf="Discount.errors.required">
                            Discount is required.
                        </div>
                        <div class="errorMessage" *ngIf="Discount.errors.pattern">
                            Discount must be a number.
                        </div>
                    </div>
                </div>
                <div class="text-center my-2">
                    <input class="btn btn-primary" type="submit" [disabled]='!adminAddProductsRef.valid'
                        value="Add Product" />
                </div>
            </form>
            {{message}}
            <hr>
            <h3 class="text-center pt-3 text-secondary">Existing Products</h3>
            <div>
                <table class="table table-borderless">
                    <tr>
                        <th scope="col">Product ID</th>
                        <th scope="col">Product</th>
                        <th scope="col">ProductPrice</th>
                        <th scope="col">ProductQuantity</th>
                        <th scope="col">Discount</th>
                    </tr>
                    <tr *ngFor="let pp of products">
                        <td>{{pp._id}}</td>
                        <td>{{pp.ProductName}}</td>
                        <td>{{pp.ProductPrice}}</td>
                        <td>{{pp.ProductQuantity}}</td>
                        <td>{{pp.Discount}}</td>
                    </tr>
                </table>
            </div>
            </div>
    </div>
</div>