<div class="container pt-2">
    <div class="row justify-content-sm-center pt-3">
        <div class="col-sm-6 shadow round pb-3">
            <h3 class="text-center pt-3 text-secondary">Send Request To Changed Product details</h3>

            <form #changeProductRequestRef="ngForm" (ngSubmit)="changeProductReq(changeProductRequestRef.value)"
                class="container">

                <div class="form-group ">
                    <label>Employee Id: </label>
                    <input type="text" name="EmployeeID" id="EmployeeID" ngModel required pattern="^[0-9]+$"
                        #EmployeeID="ngModel" class="form-control">
                    <div *ngIf="EmployeeID.invalid && (EmployeeID.dirty || EmployeeID.touched)">
                        <div class="errorMessage" *ngIf="EmployeeID.errors.required">
                            EmployeeID is required.
                        </div>
                        <div class="errorMessage" *ngIf="EmployeeID.errors.pattern">
                            EmployeeID must be a number.
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label>Product Id:</label>
                    <input type="text" name="ProductID" id="ProductID" ngModel required pattern="^[0-9]+$"
                        #ProductID="ngModel" class="form-control">
                    <div *ngIf="ProductID.invalid && (ProductID.dirty || ProductID.touched)">
                        <div class="errorMessage" *ngIf="ProductID.errors.required">
                            ProductID required.
                        </div>
                        <div class="errorMessage" *ngIf="ProductID.errors.pattern">
                            ProductID must be a number.
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label>Product Quantity</label>
                    <input type="text" name="ProductQuantity" id="ProductQuantity" ngModel required pattern="^[0-9]+$"
                        #ProductQuantity="ngModel" class="form-control">
                    <div *ngIf="ProductQuantity.invalid && (ProductQuantity.dirty || ProductQuantity.touched)">
                        <div class="errorMessage" *ngIf="ProductQuantity.errors.required">
                            Product Quantity is required.
                        </div>
                        <div class="errorMessage" *ngIf="ProductQuantity.errors.pattern">
                            Product Quantity must be a number.
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label>ProductTask</label>
                    <input type="text" name="ProductTask" id="ProductTask" ngModel required pattern="^[a-z]+$"
                        #ProductTask="ngModel" class="form-control">
                    <div *ngIf="ProductTask.invalid && (ProductTask.dirty || ProductTask.touched)">
                        <div class="errorMessage" *ngIf="ProductTask.errors.required">
                            ProductTask is required.
                        </div>
                        <div class="errorMessage" *ngIf="ProductTask.errors.pattern">
                            ProductTask must be a String.
                        </div>
                    </div>
                </div>
                <div class="text-center my-3">
                    <input class="btn btn-success" type="submit" [disabled]='!changeProductRequestRef.valid'
                        value="Send Request" />
                </div>
            </form>
            {{message}}
            <hr>
            <h3 class="text-center pt-3 text-secondary">Existing Products</h3>
            <div class="container">
                <table  class="table table-borderless">
                    <tr>
                        <th>Product ID</th>
                        <th>Product</th>
                        <th>ProductPrice</th>
                        <th>ProductQuantity</th>
                        <th>Discount</th>
                    </tr>
                    <tr *ngFor="let pp of products">
                        <td>{{pp._id}}</td>
                        <td>{{pp.ProductName}}</td>
                        <td>{{pp.ProductPrice}}</td>
                        <td>{{pp.ProductQuantity}}</td>
                        <td>{{pp.Discount}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>