<div class="container pt-2">
    <div class="row justify-content-sm-center pt-3">
        <div class="col-sm-6 shadow round pb-3">
            <h2 class="text-center pt-3 text-secondary">Employee Sign In</h2>
  
    <form #empSignInRef="ngForm" (ngSubmit)="signIn(empSignInRef.value)" class="container">
        
        <div class="form-group">
        <label >Employee ID</label>
        <input type="number" name="EmployeeID" id="id" ngModel required minlength="3" #EmployeeID="ngModel" class="form-control"><br/>
        <div *ngIf="EmployeeID.invalid && (EmployeeID.dirty || EmployeeID.touched)">
        <div class="errorMessage" *ngIf="EmployeeID.errors.required">
            Employee ID is required.
        </div>
        <div class="errorMessage" *ngIf="EmployeeID.errors.minlength">
            Employee ID must be at least 3 characters long.
        </div>
        </div>
        <div class="form-grup">
        <label >Password</label>
        <input type="password" name="password" id="pass"  ngModel required minlength="6" #password="ngModel" class="form-control"><br/>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div class="errorMessage" *ngIf="password.errors.required">
            Password is required.
        </div>
        <div class="errorMessage" *ngIf="password.errors.minlength">
            Password must be at least 6 characters long.
        </div>
        </div>
    </div>
    <div class="text-center">
        <input class="btn btn-primary " type="submit"  [disabled]='!empSignInRef.valid' value ="Log In"  />
        <input class="btn btn-success mx-2" type="reset" value="reset"/>
        {{message}}
        </div>
    </div>
        </form>
        
</div>
