<div class="container pt-2">
    <div class="row justify-content-sm-center pt-3">
        <div class="col-sm-6 shadow round pb-3">
            <h2 class="text-center pt-3 text-secondary">Raise a Ticket here !</h2>
            
            <div class="form-group">
                <form #TicketRef="ngForm" (ngSubmit)="addTicket(TicketRef.value)">
                    <label>User Id</label>
                    <input type="text" name="User_id" id="user" class="form-control" ngModel><br />
                    <label>Message</label>
                    <input type="text" name="ticket_message" class="form-control" ngModel><br />
                    <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Add Ticket" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>