<app-admin-panel></app-admin-panel>
<br>
<div class="container">
    <div class="container pt-2">
        <div class="row justify-content-sm-center pt-3">
            <div class="col-sm-6 shadow round pb-3">
                <h2 class="text-center pt-3 text-secondary">DELETE PRODUCT </h2>
<hr>

<form #adminDeleteProductsRef="ngForm" (ngSubmit)="deleteProduct(adminDeleteProductsRef.value)" >
    <div class="form-group">
        <label>Product ID</label>
        <input type="text" name="ProductID" id="ProductID" ngModel required pattern="^[0-9]+$" #ProductID="ngModel" class="form-control">
        <div *ngIf="ProductID.invalid && (ProductID.dirty || ProductID.touched)">
            <div class="errorMessage" *ngIf="ProductID.errors.required">
                Product ID is required.
            </div>
            <div class="errorMessage" *ngIf="ProductID.errors.pattern">
                Product ID must be a number.
            </div>
        </div>
        <div class="text-center">
        <input class="btn btn-danger my-3 text-center" type="submit" [disabled]='!adminDeleteProductsRef.valid'
            value="Delete Product" />
        </div>
    </div>
</form>
{{message}}
<hr>
<h3 class="text-center pt-3 text-secondary">Existing Products</h3>
<div class="container">
    <table  class="table table-borderless">
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product</th>
            <th scope="col">ProductPrice</th>
            <th scope="col">ProductQuantity</th>
            <th scope="col">Discount</th>
        </tr>
        <tr *ngFor="let pp of products">
            <td>{{pp._id}}</td>
            <td>{{pp.ProductName}}</td>
            <td>{{pp.ProductPrice}}</td>
            <td>{{pp.ProductQuantity}}</td>
            <td>{{pp.Discount}}</td>
        </tr>
    </table>
</div>